In [1]:
import pandas as pd

In [2]:
batting_path = "../Data/Batting.csv"
team_path = "../Data/Teams.csv"

In [3]:
batting_df = pd.read_csv(batting_path)
team_df = pd.read_csv(team_path)

In [4]:
batting_df = batting_df[batting_df['yearID'] >= 2017]
grouped_batting_df = batting_df.groupby(['teamID','yearID']).agg({'G': 'sum',
    'AB': 'sum',
    'R': 'sum',
    'H': 'sum'})

In [5]:
group_batting_df_reset = grouped_batting_df.reset_index()

In [6]:
team_df = team_df[team_df['yearID'] >= 2015]
grouped_team_df = team_df.groupby(['teamID','yearID']).agg({'G': 'sum',
    'G': 'sum',
    'W': 'sum',
    'L': 'sum',
    'H': 'sum',
    'AB': 'sum',
    'SB': 'sum',
    'HR':'sum',
    '2B': 'sum',
    '3B': 'sum',
    'R':'sum',
    'ERA': 'sum',
    'RA': 'sum',
    'IPouts':'sum',
    'HA': 'sum',                                                       
    'BBA': 'sum',
      })

grouped_team_df['BAVG'] = grouped_team_df['H'] / grouped_team_df['AB']
grouped_team_df['SLG'] = (grouped_team_df['H'] - grouped_team_df['2B'] - grouped_team_df['3B'] - grouped_team_df['HR'] +  2*grouped_team_df['2B'] + 3*grouped_team_df['3B'] + 4*grouped_team_df['HR']) / grouped_team_df['AB']
grouped_team_df['H/BBA'] = grouped_team_df['HA']+grouped_team_df['BBA'] 
grouped_team_df['IP'] = grouped_team_df['IPouts']/3 
grouped_team_df['WHIP'] = grouped_team_df['H/BBA']/grouped_team_df['IP'] 
grouped_team_df.head()

                 G   W   L     H    AB     SB   HR   2B  3B    R   ERA   RA  \
teamID yearID
ARI    2015    162  79  83  1494  5649  132.0  154  289  48  720  4.04  713
       2016    162  69  93  1479  5665  137.0  190  285  56  752  5.09  890
       2017    162  93  69  1405  5525  103.0  220  314  39  812  3.66  659
       2018    162  82  80  1283  5460   79.0  176  259  50  693  3.72  644
       2019    162  85  77  1419  5633   88.0  220  288  40  813  4.25  743

               IPouts    HA  BBA      BAVG       SLG  H/BBA           IP  \
teamID yearID
ARI    2015      4400  1450  500  0.264472  0.414410   1950  1466.666667
       2016      4354  1563  603  0.261077  0.431774   2166  1451.333333
       2017      4323  1309  516  0.254299  0.444706   1825  1441.000000
       2018      4389  1313  522  0.234982  0.397436   1835  1463.000000
       2019      4395  1400  516  0.251908  0.434404   1916  1465.000000

                   WHIP
teamID yearID
ARI    2015    1.329545
       2016    1.492421
       2017    1.266482
       2018    1.254272
       2019    1.307850

In [7]:
grouped_team_df_reset = grouped_team_df.reset_index()
grouped_team_df_reset = grouped_team_df_reset[grouped_team_df_reset['yearID'] != 2020]
#grouped_team_df_reset = grouped_team_df_reset[grouped_team_df_reset['yearID'] != 2022]


testing_df = grouped_team_df_reset[grouped_team_df_reset['yearID'] == 2022]
grouped_team_df_reset.head(7)

,teamID,yearID,G,W,L,H,AB,SB,HR,2B,...,ERA,RA,IPouts,HA,BBA,BAVG,SLG,H/BBA,IP,WHIP
0,ARI,2015,162,79,83,1494,5649,132.0,154,289,...,4.04,713,4400,1450,500,0.264472,0.414410,1950,1466.666667,1.329545
1,ARI,2016,162,69,93,1479,5665,137.0,190,285,...,5.09,890,4354,1563,603,0.261077,0.431774,2166,1451.333333,1.492421
2,ARI,2017,162,93,69,1405,5525,103.0,220,314,...,3.66,659,4323,1309,516,0.254299,0.444706,1825,1441.000000,1.266482
3,ARI,2018,162,82,80,1283,5460,79.0,176,259,...,3.72,644,4389,1313,522,0.234982,0.397436,1835,1463.000000,1.254272
4,ARI,2019,162,85,77,1419,5633,88.0,220,288,...,4.25,743,4395,1400,516,0.251908,0.434404,1916,1465.000000,1.307850
6,ARI,2021,162,52,110,1297,5489,43.0,144,308,...,5.11,893,4252,1480,555,0.236291,0.382401,2035,1417.333333,1.435795
7,ARI,2022,162,74,88,1232,5351,104.0,173,262,...,4.25,740,4290,1345,504,0.230237,0.385162,1849,1430.000000,1.293007

In [8]:
grouped_team_df_reset.head(20)

,teamID,yearID,G,W,L,H,AB,SB,HR,2B,...,ERA,RA,IPouts,HA,BBA,BAVG,SLG,H/BBA,IP,WHIP
0,ARI,2015,162,79,83,1494,5649,132.0,154,289,...,4.04,713,4400,1450,500,0.264472,0.414410,1950,1466.666667,1.329545
1,ARI,2016,162,69,93,1479,5665,137.0,190,285,...,5.09,890,4354,1563,603,0.261077,0.431774,2166,1451.333333,1.492421
2,ARI,2017,162,93,69,1405,5525,103.0,220,314,...,3.66,659,4323,1309,516,0.254299,0.444706,1825,1441.000000,1.266482
3,ARI,2018,162,82,80,1283,5460,79.0,176,259,...,3.72,644,4389,1313,522,0.234982,0.397436,1835,1463.000000,1.254272
4,ARI,2019,162,85,77,1419,5633,88.0,220,288,...,4.25,743,4395,1400,516,0.251908,0.434404,1916,1465.000000,1.307850
6,ARI,2021,162,52,110,1297,5489,43.0,144,308,...,5.11,893,4252,1480,555,0.236291,0.382401,2035,1417.333333,1.435795
7,ARI,2022,162,74,88,1232,5351,104.0,173,262,...,4.25,740,4290,1345,504,0.230237,0.385162,1849,1430.000000,1.293007
8,ATL,2015,162,67,95,1361,5420,69.0,100,251,...,4.41,760,4276,1462,550,0.251107,0.359410,2012,1425.333333,1.411600
9,ATL,2016,161,68,93,1404,5514,75.0,122,295,...,4.51,779,4343,1414,547,0.254625,0.384295,1961,1447.666667,1.354594
10,ATL,2017,162,72,90,1467,5584,77.0,165,289,...,4.72,821,4324,1463,584,0.262715,0.412428,2047,1441.333333,1.420213
11,ATL,2018,162,90,72,1433,5582,90.0,175,314,...,3.75,657,4370,1236,635,0.256718,0.417413,1871,1456.666667,1.284439
12,ATL,2019,162,97,65,1432,5560,89.0,249,277,...,4.19,743,4352,1421,548,0.257554,0.452158,1969,1450.666667,1.357307
14,ATL,2021,161,88,73,1307,5363,59.0,239,269,...,3.88,656,4232,1237,516,0.243707,0.435018,1753,1410.666667,1.242675
15,ATL,2022,162,101,61,1394,5509,87.0,243,298,...,3.46,609,4344,1224,500,0.253040,0.443456,1724,1448.000000,1.190608
16,BAL,2015,162,81,81,1370,5485,44.0,217,246,...,4.05,693,4304,1406,483,0.249772,0.420602,1889,1434.666667,1.316682
17,BAL,2016,162,89,73,1413,5524,19.0,253,265,...,4.22,715,4296,1408,545,0.255793,0.443338,1953,1432.000000,1.363827
18,BAL,2017,162,75,87,1469,5650,32.0,232,269,...,4.97,841,4323,1505,579,0.260000,0.435044,2084,1441.000000,1.446218
19,BAL,2018,162,47,115,1317,5507,81.0,188,242,...,5.18,892,4293,1552,589,0.239150,0.390957,2141,1431.000000,1.496157
20,BAL,2019,162,54,108,1379,5596,84.0,213,252,...,5.59,981,4329,1544,561,0.246426,0.414582,2105,1443.000000,1.458766
22,BAL,2021,162,52,110,1296,5420,54.0,195,266,...,5.84,956,4206,1518,563,0.239114,0.401661,2081,1402.000000,1.484308

In [9]:
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

In [19]:
# Extract features and target variable
X = grouped_team_df_reset[['WHIP','IPouts']].values
y = grouped_team_df_reset['RA'].values

# Split the data into training and testing sets (80% for training, 20% for testing)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Train the model on the training data
model.fit(X_train, y_train)

# Make predictions on the testing data
y_pred = model.predict(X_test)

# Evaluate the model
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)
r2 = r2_score(y_test, y_pred)

print("Mean Squared Error:", mse)
print("Root Mean Squared Error:", rmse)
print("R-squared:", r2)

Mean Squared Error: 1817.2769749460585
Root Mean Squared Error: 42.629531723279094
R-squared: 0.8456258004187668

In [ ]:
#testing_df.to_csv("../Data/testingDATA", index=True)

In [132]:
#grouped_team_df_reset.to_csv("../Data/trainingDATA", index=True)

In [135]:
#grouped_team_df_reset.to_csv("../Data/allDATA", index=True)

In [1]:
import findspark
findspark.init()

In [2]:
# Import packages
from pyspark.sql import SparkSession
from pyspark.sql import Row
from pyspark.sql.types import StructType,StructField,StringType, DateType,IntegerType

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [3]:
from pyspark import SparkFiles
df = spark.read.csv("../Data/allDATA.csv", header=True, inferSchema=True, quote="\"", escape="\"")

# Show DataFrame
df.show()

+---+------+------+---+---+---+----+----+-----+---+---+---+---+----+---+------+----+---+-------------------+-------------------+-----+------------------+------------------+
|_c0|teamID|yearID|  G|  W|  L|   H|  AB|   SB| HR| 2B| 3B|  R| ERA| RA|IPouts|  HA|BBA|               BAVG|                SLG|H/BBA|                IP|              WHIP|
+---+------+------+---+---+---+----+----+-----+---+---+---+---+----+---+------+----+---+-------------------+-------------------+-----+------------------+------------------+
|  0|   ARI|  2015|162| 79| 83|1494|5649|132.0|154|289| 48|720|4.04|713|  4400|1450|500|0.26447158789166225| 0.4144096300230129| 1950|1466.6666666666667|1.3295454545454546|
|  1|   ARI|  2016|162| 69| 93|1479|5665|137.0|190|285| 56|752|5.09|890|  4354|1563|603|0.26107678729037953| 0.4317740511915269| 2166|1451.3333333333333|1.4924207625172257|
|  2|   ARI|  2017|162| 93| 69|1405|5525|103.0|220|314| 39|812|3.66|659|  4323|1309|516|0.25429864253393664| 0.4447058823529412| 1825|            1441.0|1.2664816099930605|
|  3|   ARI|  2018|162| 82| 80|1283|5460| 79.0|176|259| 50|693|3.72|644|  4389|1313|522|0.23498168498168498| 0.3974358974358974| 1835|            1463.0| 1.254272043745728|
|  4|   ARI|  2019|162| 85| 77|1419|5633| 88.0|220|288| 40|813|4.25|743|  4395|1400|516|0.25190839694656486| 0.4344044026273744| 1916|            1465.0| 1.307849829351536|
|  6|   ARI|  2021|162| 52|110|1297|5489| 43.0|144|308| 31|679|5.11|893|  4252|1480|555|0.23629076334487156|0.38240116596830026| 2035|1417.3333333333333|1.4357949200376294|
|  7|   ARI|  2022|162| 74| 88|1232|5351|104.0|173|262| 24|702|4.25|740|  4290|1345|504|0.23023733881517475| 0.3851616520276584| 1849|            1430.0| 1.293006993006993|
|  8|   ATL|  2015|162| 67| 95|1361|5420| 69.0|100|251| 18|573|4.41|760|  4276|1462|550| 0.2511070110701107|  0.359409594095941| 2012|1425.3333333333333|1.4115996258185222|
|  9|   ATL|  2016|161| 68| 93|1404|5514| 75.0|122|295| 27|649|4.51|779|  4343|1414|547| 0.2546245919477693|0.38429452303228145| 1961|1447.6666666666667| 1.354593598894773|
| 10|   ATL|  2017|162| 72| 90|1467|5584| 77.0|165|289| 26|732|4.72|821|  4324|1463|584|0.26271489971346706|0.41242836676217765| 2047|1441.3333333333333|1.4202127659574468|
| 11|   ATL|  2018|162| 90| 72|1433|5582| 90.0|175|314| 29|759|3.75|657|  4370|1236|635| 0.2567180222142601| 0.4174131135793622| 1871|1456.6666666666667|1.2844393592677346|
| 12|   ATL|  2019|162| 97| 65|1432|5560| 89.0|249|277| 29|855|4.19|743|  4352|1421|548|0.25755395683453236|0.45215827338129494| 1969|1450.6666666666667|1.3573069852941175|
| 14|   ATL|  2021|161| 88| 73|1307|5363| 59.0|239|269| 20|790|3.88|656|  4232|1237|516|0.24370688047734476|0.43501771396606376| 1753|1410.6666666666667|1.2426748582230622|
| 15|   ATL|  2022|162|101| 61|1394|5509| 87.0|243|298| 11|789|3.46|609|  4344|1224|500| 0.2530404792158286| 0.4434561626429479| 1724|            1448.0|1.1906077348066297|
| 16|   BAL|  2015|162| 81| 81|1370|5485| 44.0|217|246| 20|713|4.05|693|  4304|1406|483| 0.2497721057429353|0.42060164083865087| 1889|1434.6666666666667|1.3166821561338289|
| 17|   BAL|  2016|162| 89| 73|1413|5524| 19.0|253|265|  6|744|4.22|715|  4296|1408|545| 0.2557929036929761|0.44333816075307747| 1953|            1432.0| 1.363826815642458|
| 18|   BAL|  2017|162| 75| 87|1469|5650| 32.0|232|269| 12|743|4.97|841|  4323|1505|579|               0.26|0.43504424778761064| 2084|            1441.0|1.4462179042331713|
| 19|   BAL|  2018|162| 47|115|1317|5507| 81.0|188|242| 15|622|5.18|892|  4293|1552|589|0.23915017250771745| 0.3909569638641729| 2141|            1431.0| 1.496156533892383|
| 20|   BAL|  2019|162| 54|108|1379|5596| 84.0|213|252| 25|729|5.59|981|  4329|1544|561|0.24642601858470337| 0.4145818441744103| 2105|            1443.0|1.4587664587664588|
| 22|   BAL|  2021|162| 52|110|1296|5420| 54.0|195|266| 15|659|5.84|956|  4206|1518|563|0.23911439114391145|0.40166051660516605| 2081|            1402.0|1.4843081312410842|
+---+------+------+---+---+---+----+----+-----+---+---+---+---+----+---+------+----+---+-------------------+-------------------+-----+------------------+------------------+
only showing top 20 rows

In [4]:
df.createOrReplaceTempView('data')

In [16]:
df_new = spark.sql("""SELECT *,
          CASE
          WHEN R < 669 THEN 'LOW'
          WHEN R BETWEEN 669 AND 705 THEN 'LOW-MID'
          WHEN R BETWEEN 705 AND 739 THEN 'MID'
          WHEN R BETWEEN 739 AND 790 THEN 'MID-HIGH'
          WHEN R > 790 THEN 'HIGH'
          END AS Run_Buckets
          FROM data""")

In [23]:
df_new.toPandas().to_csv("../Data/binDATA.csv")

In [18]:
df_new.show()

+---+------+------+---+---+---+----+----+-----+---+---+---+---+----+---+------+----+---+-------------------+-------------------+-----+------------------+------------------+-----------+
|_c0|teamID|yearID|  G|  W|  L|   H|  AB|   SB| HR| 2B| 3B|  R| ERA| RA|IPouts|  HA|BBA|               BAVG|                SLG|H/BBA|                IP|              WHIP|Run_Buckets|
+---+------+------+---+---+---+----+----+-----+---+---+---+---+----+---+------+----+---+-------------------+-------------------+-----+------------------+------------------+-----------+
|  0|   ARI|  2015|162| 79| 83|1494|5649|132.0|154|289| 48|720|4.04|713|  4400|1450|500|0.26447158789166225| 0.4144096300230129| 1950|1466.6666666666667|1.3295454545454546|        MID|
|  1|   ARI|  2016|162| 69| 93|1479|5665|137.0|190|285| 56|752|5.09|890|  4354|1563|603|0.26107678729037953| 0.4317740511915269| 2166|1451.3333333333333|1.4924207625172257|   MID-HIGH|
|  2|   ARI|  2017|162| 93| 69|1405|5525|103.0|220|314| 39|812|3.66|659|  4323|1309|516|0.25429864253393664| 0.4447058823529412| 1825|            1441.0|1.2664816099930605|       HIGH|
|  3|   ARI|  2018|162| 82| 80|1283|5460| 79.0|176|259| 50|693|3.72|644|  4389|1313|522|0.23498168498168498| 0.3974358974358974| 1835|            1463.0| 1.254272043745728|    LOW-MID|
|  4|   ARI|  2019|162| 85| 77|1419|5633| 88.0|220|288| 40|813|4.25|743|  4395|1400|516|0.25190839694656486| 0.4344044026273744| 1916|            1465.0| 1.307849829351536|       HIGH|
|  6|   ARI|  2021|162| 52|110|1297|5489| 43.0|144|308| 31|679|5.11|893|  4252|1480|555|0.23629076334487156|0.38240116596830026| 2035|1417.3333333333333|1.4357949200376294|    LOW-MID|
|  7|   ARI|  2022|162| 74| 88|1232|5351|104.0|173|262| 24|702|4.25|740|  4290|1345|504|0.23023733881517475| 0.3851616520276584| 1849|            1430.0| 1.293006993006993|    LOW-MID|
|  8|   ATL|  2015|162| 67| 95|1361|5420| 69.0|100|251| 18|573|4.41|760|  4276|1462|550| 0.2511070110701107|  0.359409594095941| 2012|1425.3333333333333|1.4115996258185222|        LOW|
|  9|   ATL|  2016|161| 68| 93|1404|5514| 75.0|122|295| 27|649|4.51|779|  4343|1414|547| 0.2546245919477693|0.38429452303228145| 1961|1447.6666666666667| 1.354593598894773|        LOW|
| 10|   ATL|  2017|162| 72| 90|1467|5584| 77.0|165|289| 26|732|4.72|821|  4324|1463|584|0.26271489971346706|0.41242836676217765| 2047|1441.3333333333333|1.4202127659574468|        MID|
| 11|   ATL|  2018|162| 90| 72|1433|5582| 90.0|175|314| 29|759|3.75|657|  4370|1236|635| 0.2567180222142601| 0.4174131135793622| 1871|1456.6666666666667|1.2844393592677346|   MID-HIGH|
| 12|   ATL|  2019|162| 97| 65|1432|5560| 89.0|249|277| 29|855|4.19|743|  4352|1421|548|0.25755395683453236|0.45215827338129494| 1969|1450.6666666666667|1.3573069852941175|       HIGH|
| 14|   ATL|  2021|161| 88| 73|1307|5363| 59.0|239|269| 20|790|3.88|656|  4232|1237|516|0.24370688047734476|0.43501771396606376| 1753|1410.6666666666667|1.2426748582230622|   MID-HIGH|
| 15|   ATL|  2022|162|101| 61|1394|5509| 87.0|243|298| 11|789|3.46|609|  4344|1224|500| 0.2530404792158286| 0.4434561626429479| 1724|            1448.0|1.1906077348066297|   MID-HIGH|
| 16|   BAL|  2015|162| 81| 81|1370|5485| 44.0|217|246| 20|713|4.05|693|  4304|1406|483| 0.2497721057429353|0.42060164083865087| 1889|1434.6666666666667|1.3166821561338289|        MID|
| 17|   BAL|  2016|162| 89| 73|1413|5524| 19.0|253|265|  6|744|4.22|715|  4296|1408|545| 0.2557929036929761|0.44333816075307747| 1953|            1432.0| 1.363826815642458|   MID-HIGH|
| 18|   BAL|  2017|162| 75| 87|1469|5650| 32.0|232|269| 12|743|4.97|841|  4323|1505|579|               0.26|0.43504424778761064| 2084|            1441.0|1.4462179042331713|   MID-HIGH|
| 19|   BAL|  2018|162| 47|115|1317|5507| 81.0|188|242| 15|622|5.18|892|  4293|1552|589|0.23915017250771745| 0.3909569638641729| 2141|            1431.0| 1.496156533892383|        LOW|
| 20|   BAL|  2019|162| 54|108|1379|5596| 84.0|213|252| 25|729|5.59|981|  4329|1544|561|0.24642601858470337| 0.4145818441744103| 2105|            1443.0|1.4587664587664588|        MID|
| 22|   BAL|  2021|162| 52|110|1296|5420| 54.0|195|266| 15|659|5.84|956|  4206|1518|563|0.23911439114391145|0.40166051660516605| 2081|            1402.0|1.4843081312410842|        LOW|
+---+------+------+---+---+---+----+----+-----+---+---+---+---+----+---+------+----+---+-------------------+-------------------+-----+------------------+------------------+-----------+
only showing top 20 rows